<!--Page Content-->
<div class="page-content">

    <!--Breadcrumbs-->
    <ol class="breadcrumb">
        <li><a href="index-2.html">Home</a></li>
        <li>Shop - single item</li>
    </ol><!--Breadcrumbs Close-->
    <!--Shopping Cart Message-->
    <section class="cart-message">
        <i class="fa fa-check-square"></i>
        <p class="p-style3">"Item" was successfully added to your cart.</p>
        <a class="btn-outlined-invert btn-success btn-sm" href="shopping-cart.html">View cart</a>
    </section><!--Shopping Cart Message Close-->
    <!--Catalog Single Item-->
    <section class="catalog-single">
        <div class="container">
            <div class="row">

                <!--Product Gallery-->
                <div class="col-lg-6 col-md-6">
                    <div class="prod-gal master-slider" id="prod-gal">
                        <!--Slide1-->
                        <div class="ms-slide">
                            <img src="../Content/Template/img/catalog/product-gallery/1.PNG" alt="Lorem ipsum" />
                        </div>
                        
                    </div>
                </div>

                <!--Product Description-->
                <div class="col-lg-6 col-md-6">
                    <h1>Item 1 J2</h1>
                    <div class="rate">
                        <span class="active"></span>
                        <span class="active"></span>
                        <span class="active"></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="old-price">815,00 $</div>
                    <div class="price">715,00 $</div>
                    <div class="buttons group">
                        <div class="qnt-count">
                            <a class="incr-btn" href="#">-</a>
                            <input id="quantity" class="form-control" type="text" value="2">
                            <a class="incr-btn" href="#">+</a>
                        </div>
                        <a class="btn btn-primary btn-sm" id="addItemToCart" href="#"><i class="icon-shopping-cart"></i>Add to cart</a>
                        <a class="btn btn-success btn-sm" href="#"><i class="icon-heart"></i>Add to wishlist</a>
                    </div>
                    <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-5">
                            <h3>Tell friedns</h3>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-tumblr-square"></i></a>
                                <a href="#"><i class="fa fa-pinterest-square"></i></a>
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-7">
                            <h3>Tags</h3>
                            <div class="tags">
                                <a href="#">Item 1, </a>
                                <a href="#">Item 2, </a>
                                <a href="#">Item 3</a>
                            </div>
                        </div>
                    </div>
                    <div class="promo-labels">
                        <div data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="fa fa-truck"></i>Free delivery</div>
                        <div data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="fa fa-space-shuttle"></i>Deliver places</div>
                        <div data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="fa fa-shield"></i>Safe Buy</div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Catalog Single Item Close-->
    <!--Tabs Widget-->
    
    <!--Special Offer-->
    <section class="special-offer">
        <div class="container">
            <h2>Special offer</h2>
            <div class="row">
                <!--Tile-->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="tile">
                        <div class="price-label">715,00 $</div>
                        <a href="#"><img src="../Content/Template/img/offers/special-offer-1.jpg" alt="Special Offer" /></a>
                        <div class="footer"><a href="#">Item D5300</a></div>
                    </div>
                </div>
                <!--Plus-->
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="sign">+</div>
                </div>
                <!--Tile-->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="tile">
                        <div class="price-label">715,00 $</div>
                        <a href="#"><img src="../Content/Template/img/offers/special-offer-2.jpg" alt="Special Offer" /></a>
                        <div class="footer"><a href="#">Nikkor AF-S</a></div>
                    </div>
                </div>
                <!--Equal-->
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="sign">=</div>
                </div>
                <!--Offer-->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="offer">
                        <h3 class="light-color">save</h3>
                        <h4 class="text-primary">100,00 $</h4>
                        <a class="btn btn-success" href="#">Buy for 1330$</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Special Offer Close-->

</div><!--Page Content Close-->