<!--Page Content-->
<div class="page-content">

    <!--Breadcrumbs-->
    <ol class="breadcrumb">
        <li><a href="~/Home/Index">Home</a></li>
        <li>Wishlist</li>
    </ol><!--Breadcrumbs Close-->
    <!--Wishlist-->
    <section class="wishlist">
        <div class="container">
            <div class="row">

                <!--Items List-->
                <div class="col-lg-9 col-md-9">
                    <h2 class="title">Wishlist</h2>
                    <table class="items-list">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Product name</th>
                            <th>Product price</th>
                        </tr>
                        <!--Item-->
                        <tr class="item first">
                            <td class="thumb"><a href="~/Product/ShopSingleItem"><img src="../Content/Template/img/catalog/shopping-cart-thumb-1.jpg" alt="" /></a></td>
                            <td class="name"><a href="~/Product/ShopSingleItem">Name</a></td>
                            <td class="price">&#8377; 715</td>
                            <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                            <td class="delete"><i class="icon-delete"></i></td>
                        </tr>
                        <!--Item-->
                        <tr class="item first">
                            <td class="thumb"><a href="~/Product/ShopSingleItem"><img src="../Content/Template/img/catalog/shopping-cart-thumb-2.jpg" alt="" /></a></td>
                            <td class="name"><a href="~/Product/ShopSingleItem">Name</a></td>
                            <td class="price">&#8377; 715</td>
                            <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                            <td class="delete"><i class="icon-delete"></i></td>
                        </tr>
                        <!--Item-->
                        <tr class="item first">
                            <td class="thumb"><a href="~/Product/ShopSingleItem"><img src="../Content/Template/img/catalog/shopping-cart-thumb-1.jpg" alt="" /></a></td>
                            <td class="name"><a href="~/Product/ShopSingleItem">Name</a></td>
                            <td class="price">&#8377; 715</td>
                            <td class="button"><a class="btn btn-primary btn-sm disabled" href="#">Out of stock</a></td>
                            <td class="delete"><i class="icon-delete"></i></td>
                        </tr>
                        <!--Item-->
                        <tr class="item first">
                            <td class="thumb"><a href="~/Product/ShopSingleItem"><img src="../Content/Template/img/catalog/shopping-cart-thumb-2.jpg" alt="" /></a></td>
                            <td class="name"><a href="~/Product/ShopSingleItem">Name</a></td>
                            <td class="price">&#8377; 715</td>
                            <td class="button"><a class="btn btn-primary btn-sm" href="#"><i class="icon-shopping-cart"></i>Add to cart</a></td>
                            <td class="delete"><i class="icon-delete"></i></td>
                        </tr>
                        <!--Item-->
                        <tr class="item first">
                            <td class="thumb"><a href="~/Product/ShopSingleItem"><img src="../Content/Template/img/catalog/shopping-cart-thumb-1.jpg" alt="" /></a></td>
                            <td class="name"><a href="~/Product/ShopSingleItem">Name</a></td>
                            <td class="price">&#8377; 715</td>
                            <td class="button"><a class="btn btn-primary btn-sm disabled" href="#">Out of stock</a></td>
                            <td class="delete"><i class="icon-delete"></i></td>
                        </tr>
                    </table>
                </div>

                <!--Sidebar-->
                <div class="col-lg-3 col-md-3">
                    <h3>Have a coupon?</h3>
                    <form class="coupon" name="coupon-code" method="post">
                        <div class="form-group">
                            <label class="sr-only" for="coupon-code">Enter coupon code</label>
                            <input type="text" class="form-control" id="coupon-code" name="coupon-code" placeholder="Enter coupon code">
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm btn-block" name="apply-coupon" value="Apply coupon">
                    </form>
                    <!--Top items-->
                    <h3 class="space-top">Top items</h3>
                    <div class="top-item">
                        <div class="price-label">&#8377; 715</div>
                        <a href="#"><img src="../Content/Template/img/offers/special-offer-1.jpg" alt="Special Offer" /></a>
                        <div class="footer"><a href="#">Name</a></div>
                    </div>
                    <div class="top-item">
                        <div class="price-label">&#8377; 715</div>
                        <a href="#"><img src="../Content/Template/img/offers/special-offer-2.jpg" alt="Special Offer" /></a>
                        <div class="footer"><a href="#">Name</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Wishlist Close-->
    <!--Catalog Grid-->
    <section class="catalog-grid">
        <div class="container">
            <h2 class="primary-color">Newcomers</h2>
            <div class="row">
                <!--Tile-->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="tile">
                        <div class="price-label">715,00 $</div>
                        <a href="#"><img src="../Content/Template/img/catalog/tiles/7.jpg" alt="7" /></a>
                        <div class="footer">
                            <a href="#">Name</a>
                            <div class="tools">
                                <div class="rate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <!--Add To Cart Button-->
                                <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                                <!--Share Button-->
                                <div class="share-btn">
                                    <div class="hover-state">
                                        <a class="fa fa-facebook-square" href="#"></a>
                                        <a class="fa fa-twitter-square" href="#"></a>
                                        <a class="fa fa-google-plus-square" href="#"></a>
                                    </div>
                                    <i class="fa fa-share"></i>
                                </div>
                                <!--Add To Wishlist Button-->
                                <a class="wishlist-btn" href="#">
                                    <div class="hover-state">Wishlist</div>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tile-->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="tile">
                        <div class="price-label">715,00 $</div>
                        <a href="#"><img src="../Content/Template/img/catalog/tiles/2.jpg" alt="2" /></a>
                        <div class="footer">
                            <a href="#">Name</a>
                            <div class="tools">
                                <div class="rate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <!--Add To Cart Button-->
                                <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                                <!--Share Button-->
                                <div class="share-btn">
                                    <div class="hover-state">
                                        <a class="fa fa-facebook-square" href="#"></a>
                                        <a class="fa fa-twitter-square" href="#"></a>
                                        <a class="fa fa-google-plus-square" href="#"></a>
                                    </div>
                                    <i class="fa fa-share"></i>
                                </div>
                                <!--Add To Wishlist Button-->
                                <a class="wishlist-btn" href="#">
                                    <div class="hover-state">Wishlist</div>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tile-->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="tile">
                        <div class="price-label">715,00 $</div>
                        <a href="#"><img src="../Content/Template/img/catalog/tiles/3.jpg" alt="3" /></a>
                        <div class="footer">
                            <a href="#">Name</a>
                            <div class="tools">
                                <div class="rate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <!--Add To Cart Button-->
                                <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                                <!--Share Button-->
                                <div class="share-btn">
                                    <div class="hover-state">
                                        <a class="fa fa-facebook-square" href="#"></a>
                                        <a class="fa fa-twitter-square" href="#"></a>
                                        <a class="fa fa-google-plus-square" href="#"></a>
                                    </div>
                                    <i class="fa fa-share"></i>
                                </div>
                                <!--Add To Wishlist Button-->
                                <a class="wishlist-btn" href="#">
                                    <div class="hover-state">Wishlist</div>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tile-->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="tile">
                        <div class="price-label">715,00 $</div>
                        <a href="#"><img src="../Content/Template/img/catalog/tiles/4.jpg" alt="4" /></a>
                        <div class="footer">
                            <a href="#">Name</a>
                            <div class="tools">
                                <div class="rate">
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span class="active"></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <!--Add To Cart Button-->
                                <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                                <!--Share Button-->
                                <div class="share-btn">
                                    <div class="hover-state">
                                        <a class="fa fa-facebook-square" href="#"></a>
                                        <a class="fa fa-twitter-square" href="#"></a>
                                        <a class="fa fa-google-plus-square" href="#"></a>
                                    </div>
                                    <i class="fa fa-share"></i>
                                </div>
                                <!--Add To Wishlist Button-->
                                <a class="wishlist-btn" href="#">
                                    <div class="hover-state">Wishlist</div>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--Catalog Grid Close-->

</div>   