
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gourav - Nuts & Fertilizer</title>
    <!--SEO Meta Tags-->
    <meta name="description" content="Gourav - Nuts & Fertilizer" />
    <meta name="keywords" content="Gourav - Nuts & Fertilizer" />
    <meta name="author" content="Venkatesh" />
    <!--Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Favicon-->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
     <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <!--Styles-->
    <link href="~/Content/Template/css/styles.css" rel="stylesheet" media="screen">

    <!--Adding Media Queries Support for IE8-->
    <!--[if lt IE 9]>
      <script src="../Scripts/respond.js"></script>
    <![endif]-->

</head>

<!--Body-->
<body class="page-404">
    <div class="content">
        <div class="inner">
            <div class="block">
                <span>404</span>
                <p>Sorry... Page not found.</p>
                <a class="btn btn-default" href="~/Home/Index">Back home</a>
                <p><span>OR</span>Try to search site</p>
                <form class="search-404" method="get" autocomplete="off">
                    <input class="form-control" type="text" name="search" placeholder="Search">
                    <button type="submit"></button>
                </form>
            </div>
        </div>
    </div>

    <!--Javascript (jQuery) Libraries and Plugins-->
    <script src="../Scriptslibs/jquery-1.11.1.min.js"></script>
    <script src="../Scriptsplugins/jquery.placeholder.js"></script>
    <script src="../Scriptsplugins/smoothscroll.js"></script>
    <script src="../Scripts404.js"></script>


    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/966923546/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>

</body>
</html>

